body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

.view-opt-label,
.date-label {
    font-size: 0.8rem;
}

.edit-todo-input {
    font-size: 1.7rem !important;
}

.gj-datepicker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-text {
    outline: none;
    border: none;
    background: none;
}

.input-text:disabled {
    color: coral;
}

.deadline {
    display: none;
}

.todo:hover .deadline {
    display: block;
}