{% for object in object_list %}
    <div class="list-group-item list-group-item-action d-flex justify-content-between todo"
         id="todo-{{ object.id }}">
        <div class="d-flex align-items-center">
            {% if object.is_done %}
                <input type="checkbox" id="check-{{ object.id }}" checked
                       class="form-check-input mx-2">
                <s class="bold fs-4 ">{{ object.title }}</s>
            {% else %}
                <input type="checkbox" id="check-{{ object.id }}" class="form-check-input mx-2">
                <input type="text" class="bold fs-4 input-text" name="title"
                       id="input-text-{{ object.id }}" disabled value="{{ object.title }}"/>
            {% endif %}
        </div>
        <div class="d-flex">
            <div class="deadline">
                <div class="mx-2 col-auto d-flex align-items-center rounded bg-white border border-primary px-2">
                    <i class="fa fa-hourglass-2 my-2 px-2 text-primary"></i>
                    <h6 class="text my-2 pr-2">{{ object.deadline }}</h6>
                </div>
            </div>
            {% if object.status.lower == "has_due_date" %}
                <div class="mx-2 col-auto d-flex align-items-center rounded bg-white border border-warning px-2">
                    <i class="fa fa-hourglass-2 my-2 px-2 text-warning"></i>
                    <h6 class="text my-2 pr-2">{{ object.deadline }}</h6>
                </div>
            {% elif object.status.lower == 'overdue' %}
                <div class="mx-2 col-auto d-flex align-items-center rounded bg-white border border-danger px-2">
                    <i class="fa fa-hourglass-2 my-2 px-2 text-danger"></i>
                    <h6 class="text my-2 pr-2">{{ object.deadline }}</h6>
                </div>
            {% endif %}

            <div class="buttons">
                <button type="button" id="edit-{{ object.id }}" class="btn btn-primary">Edit</button>
                <button type="button" id="delete-{{ object.id }}" class="btn btn-danger">Delete</button>
            </div>
        </div>

    </div>
{% endfor %}