{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          rel="stylesheet" type="text/css"/>

{% endblock %}
{% block content %}
    <div class="container m-5 p-2 rounded mx-auto bg-light shadow">
        <!-- App title section -->
        <div class="row m-1 p-4">
            <div class="col">
                <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
                    <i class="fa fa-check bg-primary text-white rounded p-2"></i>
                    <u>My Todo-s</u>
                </div>
            </div>
        </div>
        <!-- Create todo section -->
        <div class="row m-1 p-3">
            <div class="col col-11 mx-auto">
                <form method="post" action="/add-todo/"
                      class="row bg-white rounded shadow-sm p-4 add-todo-wrapper">{% csrf_token %}
                    <div class="input-group">
                        <input class="w-50 form-control form-control-lg bg-transparent rounded"
                               type="text" placeholder="Add new .." name="title" required>

                        <input class="form-control form-control-lg bg-transparent rounded"
                               type="text" id="datetimepicker" name="deadline"
                               placeholder="Choose deadline..." required>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="p-2 mx-4 border-black-25 border-bottom"></div>
        <!-- View options section -->
        <div class="row m-1 p-3 px-5 justify-content-end">
            <div class="col-auto d-flex align-items-center">
                <label class="text-secondary my-2 pr-2 view-opt-label">Filter</label>
                <select class="custom-select custom-select-sm btn my-2" id="filter-select">
                    <option value="all" selected>All</option>
                    <option value="completed">Completed</option>
                    <option value="active">Active</option>
                    <option value="has_due_date">Has due date</option>
                    <option value="overdue">Overdue</option>
                </select>
            </div>
            <div class="col-auto d-flex align-items-center px-1 pr-3">
                <label class="text-secondary my-2 pr-2 view-opt-label">Sort</label>
                <select class="custom-select custom-select-sm btn my-2" id="sort-select">
                    <option value="due-date-desc" selected>Due date ↓</option>
                    <option value="due-date-asc">Due date end ↑</option>
                </select>
            </div>
        </div>
        <!-- Todo list section -->
        <div class="row mx-1 px-5 pb-3 w-80">
            <div class="col mx-auto">
                <!-- Todo Item -->
                <div class="row px-3 align-items-center todo-item rounded">
                    <div class="list-group" id="todos">
                        {% include "includes/todos.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
            type="text/javascript"></script>
    <script src="{% static 'js/js.js' %}"></script>
{% endblock %}