{% extends 'base.html' %}
{% load bootstrap4 %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
    <section class="vh-75 mt-5">
        <div class="container h-75">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-12">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                                        Sign in or
                                        <a class="text-decoration-none" href="registration/">Sign up</a>
                                    </p>
                                    <form class="mx-1 mx-md-4" method="post">{% csrf_token %}
                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <div class="form-outline flex-fill mb-2">
                                                {% bootstrap_form form %}
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="submit" class="btn btn-primary btn-lg">Login</button>
                                        </div>
                                    </form>
                                    <div class="mx-1 mx-md-4">
                                        <p class="text-center fs-4">Or sign in with</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="{% provider_login_url 'github' %}"
                                               class="text-decoration-none mx-3">
                                                <i class="fab fa-github rounded p-2 bg-primary fs-3 text-light"></i>
                                            </a>
                                            <a href="{% provider_login_url 'google' %}"
                                               class="text-decoration-none  mx-3">
                                                <i class="fab fa-google rounded p-2 bg-primary fs-3 text-light"></i>
                                            </a>
                                            <a href="{% provider_login_url "discord" %}" class="text-decoration-none  mx-3">
                                                <i class="fab fa-discord rounded p-2 bg-primary fs-3 text-light"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                         class="img-fluid" alt="Sample image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}